
    <h1>Wagon Cocktails</h1>
    <p>Find the best cocktails</p>
      <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary"  %>
      <div class="container">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-description">
                <p><strong>Cocktail </strong><%= cocktail.name.capitalize %></p>
                <%= link_to "", cocktail_path(cocktail), {class: "card-link"} %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>


